# Node modules (both root and any subfolders like /client)
**/node_modules/

# Yarn PnP
.pnp.*
/.pnp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Production build output
/build

# Misc
.DS_Store

# Env files (except .env.example)
.env
.env.*
!.env.example

